body {
	font-family: Source Sans Pro, Open Sans, Helvetica, Arial, sans-serif;
	font-weight: 300;
	background-color: #1F1F1F;
}


/*Обвертка всего*/
.container {
	max-width: 800px;
	min-width: 800px;
	margin: 0 auto;
	padding: 0 100px;
	background-color: #FFFFFF;
}

/*Шапка*/
img {
	border: 1px solid #dddddd;
	margin: 15px;
	float: left;
	max-width: 100%;
	vertical-align: middle;
}

h1 {
	font-size: 40px;
	line-height: 50px;
	padding-top: 30px;
	font-weight: 700;
	letter-spacing: 1px;
}

h2 {
	font-size: 21px;
}

.contacts {
	padding: 30px 0px;
	font-size: 14px;
	line-height: 23px;
}

header{

}

/*Секция*/
section, .section {
	border-bottom: 1px solid #dddddd; /* Параметры линии под текстом */
	padding-bottom: 5px; /* Расстояние от текста до линии */
}

section {
	padding: 20px 0;
}

/*Загаловки в секциях*/
h3 {
	width: 160px;
	height: 20px;
	margin: 10px 0;
	float: left;
}

/*Описание*/
.description {
  margin-left: 160px;
}

/*Подвал*/
footer	{
	text-align: right;
	padding: 10px 0;
}